PORT=5001
JWT_SECRET="your_super_secure_jwt_secret"

# Brevo Email Service
BREVO_API_KEY="your_brevo_api_key_here"
BREVO_FROM_EMAIL="your_verified_sender_email_on_brevo@domain.com"

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/nexustech"

# Admin credentials
ADMIN_EMAIL="admin@nexustech.com"
# The default password for this hash is "admin123"
ADMIN_PASSWORD_HASH="$2b$10$g64YjsNekPnPeGznkfK/dOwIvYWuKciYrS/hluOsCWzSqb0rmYnmO"

# SSLCommerz
STORE_ID="sslcommerz_store_id"
STORE_PASS="sslcommerz_store_pass"
ROOT_URL="http://localhost:5001"
FRONTEND_URL="http://localhost:5173"
